	page {
		background-color: #F5F5F5;
		height: 100%;
		display: flex;
	}
	.search-container {
		flex:1;
		display: flex;
		flex-direction: column;
		.search-wrapper {
			background-color: #FFFFFF;
			margin-bottom: 20rpx;
			.search-header{
				@include flex();
				font-size: 28rpx;
				color: #666;
				padding:20rpx 30rpx;
				border-bottom: 1px solid #F5F5F5;
				.history-text{
					color: $base-color;
				}
				.history-clear{
					color:#30b33a;
					font-weight: bold;
				}
			}
			.search-history-content{
				@include flex(flex-start,row,wrap);
				padding:0 30rpx 30rpx;
				.history-content-item{
					padding:4rpx 20rpx;
					margin-top:24rpx;
					margin-right: 20rpx;
					border-radius: 10rpx;
					border: 1px solid #666;
					font-size: 28rpx;
					color: #666;
				}
			}
		}
		.search-list-container{
			height: 100%;
			flex: 1;
			overflow: hidden;
		}
		.no-data{
			height: 400rpx;
			line-height: 400rpx;
			text-align: center;
			font-size: 24rpx;
			color: #666666;
			width: 100%;
		}
	}